/* ==========================================================================
   Base styles
   ========================================================================== */
@font-face {
    font-family: 'Chlorinar';
    src: url('fonts/chlorinar/CHLORINR.TTF') format('truetype');
}
body {
    font-family: 'Chlorinar', sans-serif;
}

.section {
    text-align: center;
    font-size: 3em;
}

.grid {
    background-color: red;
    width: 100%;
    margin: 4rem;
}

/* ==========================================================================
   Navigation Styles
   ========================================================================== */

nav {
    position: fixed;
    top: 1rem;
    right: 0;
    margin-right: 5%;
    z-index: 100;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
}
nav li a {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffc228;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.3);
}

/* ==========================================================================
   First Slide Styles
   ========================================================================== */

.intro {
    text-align: left;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.lebi-intro {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}